
body {
    margin: 20px;
    font-family: Aboreto;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 170 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #372248;
    color: #F3EAF4;
    border-bottom: 6px solid #d8cefe;

}



